[submodule "icons/yltra-flat-icon-theme"]
	path = icons/yltra-flat-icon-theme
	url = https://github.com/antoinegergy/yltra-flat-icon-theme.git
[submodule "themes/Flatabulous"]
	path = themes/Flatabulous
	url = https://github.com/anmoljagetia/Flatabulous.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
